@page "/"

<PageTitle>Inicio</PageTitle>

<div class="text-center mb-4">
    <h1 class="display-5">Bienvenido</h1>
    <p class="text-muted">Elige una sección para navegar.</p>
</div>

<div class="row g-3 justify-content-center">
    <div class="col-md-5 col-lg-4">
        <NavLink class="btn btn-outline-primary w-100 py-3" href="futbol">Fútbol</NavLink>
    </div>
    <div class="col-md-5 col-lg-4">
        <NavLink class="btn btn-outline-primary w-100 py-3" href="peliculas">Películas</NavLink>
    </div>
    <div class="col-md-5 col-lg-4">
        <NavLink class="btn btn-outline-primary w-100 py-3" href="series">Series</NavLink>
    </div>
    <div class="col-md-5 col-lg-4">
        <NavLink class="btn btn-outline-primary w-100 py-3" href="videojuegos">Videojuegos</NavLink>
    </div>
</div>
